<html lang="es">
<head>
    {% load static %}

    <tittle> FP EUROFORMAc</tittle>






</head>
<body>




    {% block content %}
    {% endblock %}
    
<footer class="footer text-faded text-center py-5">
  <div class="container">
      <p class="m-0">
          <a href="#" class="link">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
          </a>
          <a href="#" class="link">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>   <!--tenemos el pie de pagina aca -->
              </span>
          </a>
          <a href="#" class="link">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
          </a>
      </p>
      <p class="m-0 mbt">
          <a href="sample.html" class="link">Política de privacidad</a> ·
          <a href="sample.html" class="link">Aviso legal</a> ·
          <a href="sample.html" class="link">Cookies</a>
      </p>
      <p class="m-0 mbt1">&copy; FPEUROFORMA 2025</p>
  </div>
</footer>

</body>






</html>