{% extends "base.html" %}
{% block content %}
<div class="equipo-container">
  <h2>Conoce a nuestro equipo docente</h2>

  {% for profesor in profesores %}
    <a href="{% url 'profesor_detalle' slug=profesor.slug %}" class="profesor-card">
      <img src="{{ profesor.imagen.url }}" alt="{{ profesor.nombre }}" class="foto-profesor">
      <div class="info-profesor">
        <p><strong>Experiencia:</strong> {{ profesor.experiencia }} años</p>
        <p><strong>Asignaturas:</strong> {{ profesor.asignaturas }}</p>
        <p><strong>FP:</strong> {{ profesor.fp }}</p>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}