{% extends "base.html" %}
{% load static %}

{% block content %}
  

     <div class="poco-nosotros">

      <h2>Un Poco Sobre nosotros</h2>
    
     </div>
      <div class="parrafo">
      <p>En Euroformac, nuestro objetivo es diagnosticar, planificar, ejecutar y evaluar las necesidades de formación de empresas, organizaciones y otros colectivos. 

        Para ello, queremos ser una referencia válida en el mercado de los servicios de formación en el ámbito nacional, así como satisfacer las necesidades de formación tanto explícitas como implícitas de nuestros clientes.
        
        Nuestro equipo de profesionales ponen a disposición de todos sus departamentos los recursos materiales y vías de comunicación necesarios para el buen desarrollo de la actividad.
        Promovemos la comunicación inter e intra departamental buscando una relación transparente y manteniendo la ética profesional. Cumplimos la legislación vigente y actualizamos metodologías
        , herramientas y contenidos didácticos que marquen la diferencia con otras empresas del sector. </p>


        
    </div>
 <!--nuestras cedes -->
    <!-- Contenedor principal -->
    <div class="accordion-row">

      <!-- Madrid -->
      <div class="accordion" id="accordionMadrid">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingMadrid">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMadrid" aria-expanded="true" aria-controls="collapseMadrid">
              Madrid
            </button>
          </h2>
          <div id="collapseMadrid" class="accordion-collapse collapse show" aria-labelledby="headingMadrid">
            <div class="accordion-body">
              <ul>
                <li>Euroformac, Cl. de Ayala, 87, Salamanca</li>
                <li>Av. de Pablo Iglesias, 53, C. de la Olimpiada, 2, Entrada por, 28039 Madrid</li>
              </ul>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.1637343268335!2d-3.678367010559015!3d40.42737318135683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228ba6dc7ac29%3A0x9bf61ba1bc51894c!2sEuroformac!5e0!3m2!1ses-419!2sus!4v1746716228723!5m2!1ses-419!2sus" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97209.20939656797!2d-3.732625810937498!3d40.41355159637446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4229b4af6db3ed%3A0x702ec36935f963d7!2sCEU%20FP%20Madrid!5e0!3m2!1ses-419!2ses!4v1746716444695!5m2!1ses-419!2ses" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
      
      
      
    
      <!-- Valencia -->
      <div class="accordion" id="accordionValencia">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingValencia">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseValencia" aria-expanded="false" aria-controls="collapseValencia">
              Valencia
            </button>
          </h2>
          <div id="collapseValencia" class="accordion-collapse collapse" aria-labelledby="headingValencia">
            <div class="accordion-body">
              <ul>
                <li>Delegación Valencia: Avenida Burjasot, 93</li>
                <li>Sede Central: Calle Duque de Mandas, 41</li>
              </ul>
              <iframe src="https://www.google.com/maps?q=Avenida+Burjasot,+93,+Valencia&output=embed" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              
            </div>
          </div>
        </div>
      </div>
    
      <!-- Murcia -->
      <div class="accordion" id="accordionMurcia">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingMurcia">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMurcia" aria-expanded="false" aria-controls="collapseMurcia">
              Murcia
            </button>
          </h2>
          <div id="collapseMurcia" class="accordion-collapse collapse" aria-labelledby="headingMurcia">
            <div class="accordion-body">
              <ul>
                <li>Delegación: Paseo de Florencia Nº 22</li>
                <li>Centro de formación: Paseo de Florencia Nº 46</li>
                <li>Lorca: Calle Ricardo Carrillo, 6</li>
                <li>Yecla: Calle Lorca, 1</li>
              </ul>
              <iframe src="https://www.google.com/maps?q=Paseo+de+Florencia+22,+Murcia&output=embed" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Málaga -->
      <div class="accordion" id="accordionMalaga">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingMalaga">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMalaga" aria-expanded="false" aria-controls="collapseMalaga">
              Málaga
            </button>
          </h2>
          <div id="collapseMalaga" class="accordion-collapse collapse" aria-labelledby="headingMalaga">
            <div class="accordion-body">
              <ul>
                <li>Sede Central: Avenida de Andalucía, 31</li>
                <li>Centro formación 1: Avenida de Andalucía, 29</li>
                <li>Centro formación 2: Av. José Ortega y Gasset, 204</li>
                <li>Centro formación 3: Calle Mauricio Moro Pareto, 4</li>
              </ul>
              <iframe src="https://www.google.com/maps?q=Avenida+de+Andalucía+31,+Málaga&output=embed" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    
    <h1 class="titulo-hoy">
      <span style="color: rgba(255, 226, 3, 0.966);">EUROFORMAC</span> <span style="color: rgba(0, 56, 138, 1)">HOY</span>
    </h1>

    <div class="nuestro-hoy">
      
        <video autoplay muted loop playsinline>
            <source src="{% static 'videos/video-conocenos.mp4' %}" type="video/mp4">
            Tu navegador no soporta la etiqueta de video.
        </video>
    </div>

   
    
    
    

{% endblock %}