{% extends "base.html" %}
{% load static %}

{% block content %}
  

     
      <div class="parrafo">
      <p>En Euroformac, nuestro objetivo es diagnosticar, planificar, ejecutar y evaluar las necesidades de formación de empresas, organizaciones y otros colectivos. 

        Para ello, queremos ser una referencia válida en el mercado de los servicios de formación en el ámbito nacional, así como satisfacer las necesidades de formación tanto explícitas como implícitas de nuestros clientes.
        
        Nuestro equipo de profesionales ponen a disposición de todos sus departamentos los recursos materiales y vías de comunicación necesarios para el buen desarrollo de la actividad.
        Promovemos la comunicación inter e intra departamental buscando una relación transparente y manteniendo la ética profesional. Cumplimos la legislación vigente y actualizamos metodologías
        , herramientas y contenidos didácticos que marquen la diferencia con otras empresas del sector. </p>


        
    </div>

    <h1 class="titulo-hoy">
      <span style="color: rgba(255, 226, 3, 0.966);">EUROFORMAC</span> <span style="color: rgba(0, 56, 138, 1)">HOY</span>
    </h1>

    <div class="nuestro-hoy">
      
        <video autoplay muted loop playsinline>
            <source src="{% static 'videos/video-conocenos.mp4' %}" type="video/mp4">
            Tu navegador no soporta la etiqueta de video.
        </video>
    </div>


{% endblock %}