{% extends "base.html" %}
{% load static %}
{% block body_class %}fondo-azul{% endblock %}
{% block content %}
  

<div class="video-fondo-container">
    <iframe 
        src="https://www.youtube.com/embed/5dCc8XWTCh4?autoplay=1&mute=1&controls=0&showinfo=0&rel=0&loop=1&playlist=5dCc8XWTCh4" 
        title="AULA 2024. Tech Hub FP Euroformac" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>

    <h1 class="evolucion">Evolucionamos Contigo</h1>
</div>



    
  <h1 class="titulo-hoy">
      <span style="color: #f0c200;">EUROFORMAC</span> <span style="color: rgb(255, 255, 255)">HOY</span>
    </h1>

    <div class="nuestro-hoy">
      
        <video autoplay muted loop playsinline>
            <source src="{% static 'videos/video-conocenos.mp4' %}" type="video/mp4">
            Tu navegador no soporta la etiqueta de video.
        </video>
    </div>


<section class="lo-que-nos-hace-diferentes">
  <!-- Imagen a la izquierda -->
  <div class="imagen-left">
    <img src="{% static 'imagenes/r5.png' %}" alt="Imagen destacada" />
  </div>

  <!-- Contenedor derecho: título + recursos -->
  <div class="recursos-right">
    <h2>LO QUE NOS HACE DIFERENTES</h2>

    <div class="recurso">
      <div class="icono">
        <img src="{% static 'imagenes/r2.png' %}" alt="Experiencia">
      </div>
      <div class="descripcion">
        <h3>Experiencia</h3>
        <p>Más de 25 años formando personas.</p>
      </div>
    </div>

    <div class="recurso">
      <div class="icono">
        <img src="{% static 'imagenes/r1.png' %}" alt="Reinvención">
      </div>
      <div class="descripcion">
        <h3>Reinvención</h3>
        <p>Metodologías y herramientas formativas innovadoras.</p>
      </div>
    </div>

    <div class="recurso">
      <div class="icono">
        <img src="{% static 'imagenes/r4.png' %}" alt="Confianza">
      </div>
      <div class="descripcion">
        <h3>Confianza</h3>
        <p>Organizamos grandes programas de referencia con miles de alumnos.</p>
      </div>
    </div>

    <div class="recurso">
      <div class="icono">
        <img src="{% static 'imagenes/r3.png' %}" alt="Notoriedad">
      </div>
      <div class="descripcion">
        <h3>Notoriedad</h3>
        <p>Máxima certificación de calidad.</p>
      </div>
    </div>
  </div>
</section>

<!--seccion de nuestra soluciones formativas -->
<h1 class="formativas">
  <span class="azul">Nuestras</span> <span class="blanco">soluciones formativas</span>
</h1>


<div class="contenedor-tarjetas">
  <div class="tarjeta">
    <div class="tarjeta-frente">
      <img src="{% static 'imagenes/libro.jpg' %}" alt="Icono libro" class="icono">
      <h3>Servicios Educativos</h3>
      <p>Formación Reglada</p>
    </div>
    <div class="tarjeta-detras">
      <h3>Servicios Educativos</h3>
      <p>- Unidad Básica de Competencia<br>
          - Módulo Profesional <br>
        - Certificado de Profesionalidad<br>
        - Ciclo Formativo FP<br>
        - Máster FP</p>
      <a href="https://fpeuroformac.com/" class="boton" target="_blank">Más información</a>

    </div>
  </div>

  <div class="tarjeta amarillo">
    <div class="tarjeta-frente">
      <img src="{% static 'imagenes/bolso.jpg' %}"alt="Icono empleo" class="icono">
      <h3>Servicios de Empleo</h3>
      <p>Programas y Cursos Subvencionados </p>
    </div>
    <div class="tarjeta-detras">
      <h3>Servicios de Empleo</h3>
      <p>- Itinerarios Formativos<br>
          - Especialidades Formativas</p>
      <a href="https://cursosgratuitos.grupoeuroformac.com/" class="boton" target="_blank">Más información</a>
    </div>
  </div>

  <div class="tarjeta">
    <div class="tarjeta-frente">
      <img src="{% static 'imagenes/edificio.jpg' %}" alt="Icono sector público" class="icono">
      <h3>Sector Público</h3>
      <p>Programa de Referencia </p>
    </div>
    <div class="tarjeta-detras">
      <h3>Sector Público</h3>
      <p>- Programas de referencia para Empleados Públicos.</p>
      <a href="https://euroformac.com/wp-content/uploads/2023/12/catalogo2023Euroformac.pdf" class="boton" target="_blank">Más información</a>
    </div>
  </div>
</div>

    

{% endblock %}