{% extends "base.html" %}
{% load static %}
{% block body_class %}fondo-azul{% endblock %}
{% block content %}
<div class="container" style="max-width: 800px; margin: auto; padding: 2rem; color: #f0c200;">
    <h1>Política de Privacidad</h1>
    <p>Última actualización: 9 de mayo de 2025</p>

    <h2>Introducción</h2>
    <p>En Euroformac, valoramos tu privacidad y nos comprometemos a proteger los datos personales que nos proporcionas. Esta política explica cómo recopilamos, usamos y protegemos tu información. Al acceder y utilizar nuestros servicios, aceptas las prácticas descritas en esta política.</p>

    <h2>Información que recopilamos</h2>
    <p>Recopilamos diferentes tipos de información con el fin de brindarte una experiencia más personalizada y eficiente. Los tipos de información que podemos recoger incluyen:</p>
    <ul>
        <li><strong>Datos de Identificación Personal:</strong> como tu nombre, dirección de correo electrónico, número de teléfono y otra información que elijas proporcionarnos para recibir nuestros servicios.</li>
        <li><strong>Datos de Navegación:</strong> como tu dirección IP, información sobre tu dispositivo (por ejemplo, modelo de teléfono, sistema operativo, etc.), tipo de navegador, e información sobre la página web desde la cual accediste a nuestros servicios.</li>
        <li><strong>Datos de Uso:</strong> acerca de cómo interactúas con nuestros servicios, como el tiempo que pasas en el sitio, las páginas que visitas, y los enlaces que sigues.</li>
        <li><strong>Cookies:</strong> utilizamos cookies para mejorar la experiencia de navegación, recordar preferencias y personalizar el contenido mostrado en nuestra página.</li>
    </ul>

    <h2>Uso de la Información</h2>
    <p>La información recopilada se utiliza para proporcionar, personalizar y mejorar nuestros servicios. En particular, podemos usar tus datos personales para:</p>
    <ul>
        <li>Gestionar tu cuenta y ofrecerte acceso a los servicios que solicitas.</li>
        <li>Comunicarnos contigo para informarte sobre actualizaciones, mejoras o cambios en nuestros servicios.</li>
        <li>Enviarte información relevante sobre nuestros productos y servicios, incluidas promociones y ofertas especiales.</li>
        <li>Mejorar la funcionalidad y rendimiento del sitio web y de nuestras aplicaciones.</li>
        <li>Realizar investigaciones y análisis para optimizar nuestra plataforma y desarrollar nuevos servicios que puedan ser de tu interés.</li>
        <li>Cumplir con las obligaciones legales y regulatorias.</li>
    </ul>

    <h2>Compartir Información</h2>
    <p>Tu privacidad es fundamental para nosotros, por lo que no vendemos ni compartimos tus datos personales con terceros para fines comerciales sin tu consentimiento. Sin embargo, podemos compartir tu información en los siguientes casos:</p>
    <ul>
        <li><strong>Proveedores de servicios:</strong> Podemos compartir tu información con proveedores de servicios que nos ayudan a operar nuestra plataforma y ofrecer nuestros servicios, siempre bajo estrictas condiciones de confidencialidad.</li>
        <li><strong>Cumplimiento legal:</strong> En ocasiones, podemos divulgar tu información si así lo exige la ley o si creemos de buena fe que es necesario para cumplir con procesos legales, proteger nuestros derechos, o salvaguardar la seguridad de los usuarios.</li>
    </ul>

    <h2>Seguridad</h2>
    <p>En Euroformac, nos tomamos muy en serio la seguridad de tu información personal. Implementamos una serie de medidas de seguridad técnicas y organizativas para proteger tus datos contra el acceso no autorizado, alteración, divulgación o destrucción. Esto incluye el uso de tecnologías avanzadas como el cifrado de datos durante la transmisión y almacenamiento. Sin embargo, ninguna transmisión de datos a través de Internet o almacenamiento de datos es completamente segura, por lo que, aunque nos esforzamos por proteger tu información, no podemos garantizar su seguridad al 100%.</p>

    <h2>Conservación de Datos</h2>
    <p>Conservamos tus datos personales solo durante el tiempo necesario para cumplir con los fines para los cuales fueron recolectados, incluyendo la resolución de disputas y el cumplimiento de nuestras obligaciones legales. Después de este periodo, tus datos serán eliminados de manera segura, o serán anonimizados si es necesario para fines de análisis.</p>

    <h2>Acceso y Control sobre tus Datos</h2>
    <p>Tienes derecho a acceder a tus datos personales, así como a rectificarlos, eliminarlos o restringir su procesamiento. Además, puedes oponerte al procesamiento de tus datos en cualquier momento, salvo en los casos en los que estemos legalmente obligados a procesarlos. Si deseas ejercer alguno de estos derechos, contáctanos a través de los medios proporcionados al final de esta política.</p>

    <h2>Enlaces a Otros Sitios Web</h2>
    <p>Nuestro sitio puede contener enlaces a otros sitios web de interés. Sin embargo, una vez que hayas usado estos enlaces y hayas abandonado nuestra página, debes tener en cuenta que no tenemos control sobre el otro sitio. Por lo tanto, no somos responsables de la protección de la privacidad de tus datos mientras navegas en esos sitios y esta política de privacidad no es aplicable a esos sitios.</p>

    <h2>Cambios en esta Política</h2>
    <p>Podemos actualizar esta política de privacidad de vez en cuando para reflejar cambios en nuestras prácticas o en la ley. Te notificaremos sobre cualquier modificación importante publicando la nueva política en esta página. Te recomendamos revisar periódicamente esta política para estar informado sobre cómo protegemos tu privacidad.</p>

    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta o inquietud sobre esta política de privacidad o sobre el manejo de tus datos personales, no dudes en ponerte en contacto con nosotros a través de los siguientes medios:</p>
    <ul>
        <li>Correo electrónico: <a href="mailto:privacidad@euroformac.com">privacidad@euroformac.com</a></li>
        <li>Dirección: Av. de Pablo Iglesias, 53, C. de la Olimpiada, 2, Entrada por, 28039 Madrid</li>
        <li>Teléfono: +34 911 17 70 80</li>
    </ul>
    <p>También puedes contactarnos a través de nuestro formulario de contacto en el sitio web: <a href="{% url 'contacto' %}">Formulario de Contacto</a></p>
</div>
{% endblock %}
