{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="detalle-profesor">
    <h2>Profesor 5 - Lucía Torres</h2>

    <p><strong>Experiencia:</strong> 6 años enseñando entornos de desarrollo.</p>
    <p><strong>Asignaturas:</strong> Entornos de desarrollo</p>
    <p><strong>FP:</strong> DAM</p>
    <p><strong>Centros donde ha trabajado:</strong> IES Vega del Mar, CFT Málaga.</p>
    <p><strong>Formación:</strong> Grado en Ingeniería del Software, Experta en Java y Git.</p>

    <a href="{% url 'equipo' %}" class="btn-volver">← Volver al equipo</a>
  </div>
{% endblock %}