{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="detalle-profesor">
    <h2> Sonia Martínez</h2>

    <p><strong>Experiencia:</strong> 11 años tutorizando proyectos de desarrollo.</p>
    <p><strong>Asignaturas:</strong> Proyecto final</p>
    <p><strong>FP:</strong> DAM</p>
    <p><strong>Centros donde ha trabajado:</strong> IES Sierra Blanca, FP Avanzado.</p>
    <p><strong>Formación:</strong> Ingeniería Informática, Máster en Dirección de Proyectos.</p>

    <a href="{% url 'equipo' %}" class="btn-volver">← Volver al equipo</a>
  </div>
{% endblock %}