{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="detalle-profesor">
    <h2> Ana Torres</h2>

    <p><strong>Experiencia:</strong> 12 años enseñando desarrollo web.</p>
    <p><strong>Asignaturas:</strong> Desarrollo Web</p>
    <p><strong>FP:</strong> DAW</p>
    <p><strong>Centros donde ha trabajado:</strong> IES Pablo Picasso, FP Tech Sevilla.</p>
    <p><strong>Formación:</strong> Ingeniería en Telecomunicaciones, Experta en Aplicaciones Web.</p>

    <a href="{% url 'equipo' %}" class="btn-volver">← Volver al equipo</a>
  </div>
{% endblock %}