{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="detalle-profesor">
    <h2>Laura García</h2>

    <p><strong>Experiencia:</strong> 8 años enseñando bases de datos y desarrollo web.</p>
    <p><strong>Asignaturas:</strong> Desarrollo Web, Sistemas Operativos.</p>
    <p><strong>FP:</strong> DAW</p>
    <p><strong>Centros donde ha trabajado:</strong> IES Politécnico, FP Málaga Centro.</p>
    <p><strong>Formación:</strong> Ingeniería de Software, Máster en Educación TIC.</p>

    <a href="{% url 'equipo' %}" class="btn-volver">← Volver al equipo</a>
  </div>
{% endblock %}