{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="detalle-profesor">
    <h2>Profesor 6 - Andrés García</h2>

    <p><strong>Experiencia:</strong> 9 años enseñando seguridad informática.</p>
    <p><strong>Asignaturas:</strong> Seguridad</p>
    <p><strong>FP:</strong> ASIR</p>
    <p><strong>Centros donde ha trabajado:</strong> IES El Palo, IES Portada Alta.</p>
    <p><strong>Formación:</strong> Grado en Ciberseguridad, Máster en Seguridad de Redes.</p>

    <a href="{% url 'equipo' %}" class="btn-volver">← Volver al equipo</a>
  </div>
{% endblock %}