* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #003366; /* Azul de fondo */
    color: #FFD700; /* Amarillo dorado */
}

/* Contenedor general */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para el header */
header {
    background-color: #00509E; /* Azul más oscuro para el header */
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

header .btn-primary {
    background-color: #FFD700; /* Botón de color dorado */
    color: #003366; /* Texto azul oscuro */
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header .btn-primary:hover {
    background-color: #E5C100; /* Cambio de color al pasar el ratón */
}

/* Estilos para la sección de cursos */
.courses {
    background-color: #004C8C; /* Azul más oscuro para la sección de cursos */
    padding: 40px 0;
    text-align: center;
}

.courses h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.course-item {
    margin-bottom: 30px;
}

.course-item h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.course-item p {
    font-size: 1.2em;
}

/* Estilo para el footer */
footer {
    background-color: #003366;
    color: #FFD700;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}
/* Botón flotante */
.floating-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #FFD700;
    color: #003366;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    z-index: 1000;
}

.floating-button:hover {
    background-color: #e5c100;
}

/* === INICIO - Fondo estático de la web === */
body {
    background-image: url('/static/estilos/Fondo_Web_Euroformac.jpg');  /* Ruta accesible para Django */
    background-size: cover;              /* Que cubra toda la pantalla */
    background-repeat: no-repeat;        /* Que no se repita */
    background-position: center center;  /* Centrado */
    background-attachment: fixed;        /* Se mantiene al hacer scroll */
}
/* === FIN - Fondo estático de la web === */

.equipo-container {
    padding: 40px;
    text-align: center;
    background-color: #f0f8ff;
  }
  
  .profesores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }
  
  .profesor-card {
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
  }
  
  .profesor-card:hover {
    transform: scale(1.03);
    background-color: #e6f2ff;
  }