{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'contacto/contacto.css' %}">

<div class="contenedorformulario">
    {% if "valido" in request.GET %}
    <p class="alert alert-success text-center" style="font-size: 18px; padding: 15px 20px; border-radius: 5px;">
        Información enviada correctamente, ¡Gracias!
    </p>
    {% endif %}
    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <table style="margin: 20px auto;">{{ miformulario.as_table }}</table>
        <input type="submit" value="Enviar" class="btn btn-success btn-lg">
    </form>
</div>
{% endblock %}